.noto-serif-hentaigana-bold {
  font-family: "Noto Serif Hentaigana", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-hentaigana-normal {
  font-family: "Noto Serif Hentaigana", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
